<div class="block-hero">
  
  <div class="block-hero__bg">
    {{{getImg src="hero-bg.png"}}}
  </div>
  <div class="container">
  <div class="block-hero__wrap">
    <div class="block-hero__content">
      <h1 class="block-hero__title">Бизнес<br class="br-mob"> хочет,<br class="br-mob"> DION может!</h1>
      <div class="block-hero__descr">Удобная и безопасная платформа корпоративных коммуникаций для крупного бизнеса</div>
      <a href="#form" class="block-hero__btn"
        onclick="_tmr.push({ type: 'reachGoal', id: 3655439, goal: 'click_zapros_demo'});"
      >Запросить демо</a>
    </div>
    <div class="block-hero__img">
      {{{getPicture src="hero-img.png" md="hero-img.png" s="hero-img__s.png"}}}
    </div>
  </div>

  </div>
    <div class="block-hero__scroll">
      <div class="block-hero__scroll__icon">
        {{{getSvg src="scroll-icon"}}}
      </div>
      <div class="block-hero__scroll__text">Прокрутите вниз,<br>
      там интересно</div>
    </div>
</div>