<section class="block-rates" id="rates">
  <div class="container">
    <div class="rates-container">
      <div class="rates-title">Тарифы</div>
      <div class="rates-list__item enterprise__item">
        <div class="enterprise__item__top">

          <div class="rates-list__about rates-list__col">
            <div class="rates-list__about-item rate-name">Enterprise</div>
            <div class="rates-list__about-item rate-description">
              Корпоративный тариф<br />Для компаний более 500 пользователей
              <br />
              <br />
              Размещение:<br />облако, гибрид, онпрем
            </div>
          </div>
          <div class="rates-list__about rates-list__col">
            <a href="" class="rates-list__about-item rate-button enterprise-button js-open-modal"
              data-target="modal-form-marketing" style="color: #000"
              onclick="_tmr.push({ type: 'reachGoal', id: 3655439, goal: 'click_uslovia_enterpise'});"
            >Запросить условия</a>
          </div>
        </div>
        <div class="enterprise__item__bot">

          <div class="rates-list__about rates-list__col">
            <ul class="rates-list__options">
              <li class="rates-list__options__item">
                <img src="assets/svg/check-circle.svg" />Видеоконференцсвязь
              </li>
              <li class="rates-list__options__item">
                <img src="assets/svg/check-circle.svg" />Запись конференций
              </li>
              <li class="rates-list__options__item">
                <img src="assets/svg/check-circle.svg" />Чаты, файлы
              </li>
              <li class="rates-list__options__item">
                <img src="assets/svg/check-circle.svg" />Видео-хостинг
              </li>
              <li class="rates-list__options__item">
                <img src="assets/svg/check-circle.svg" />2 Гб хранилища на
                пользователя
              </li>
            </ul>
          </div>
          <div class="rates-list__about rates-list__col advanced-options">
            <div class="rates-list__advanced__head">
              <span class="rates-list__advanced__head-title">Продвинутые опции</span>
              <a class="rates-list__advanced__head-title rates-link js-open-modal" data-target="modal-form-marketing" href=""
                >Для подключения свяжитесь с
                нами</a>
            </div>
            <div class="rates-list__advanced__list mob">
              <div class="rates-list__pro-options__item rates-list__advanced__item">
                Переговорные комнаты
              </div>
              <div class="rates-list__pro-options__item">
                SIP
              </div>
              <div class="rates-list__pro-options__item">
                Звонки на телефоны
              </div>
              <div class="rates-list__pro-options__item">
                Почтовый клиент
              </div>
              <div class="rates-list__pro-options__item">
                Whiteboard
              </div>
            </div>
            <div class="rates-list__advanced__list">
              <div class="rates-list__pro-options__item">
                Единый вход (SSO)
              </div>
              <div class="rates-list__pro-options__item">
                Поддержка 24/7
              </div>
              <div class="rates-list__pro-options__item">
                +100 Гб хранилища
              </div>
              <div class="rates-list__pro-options__item">
                +100 Гб DION.Диска
              </div>
              <div class="rates-list__pro-options__item">
                Трансляции
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="rates-banner">
        <div class="rates-banner__title">
          Получить индивидуальное предложение
        </div>
        <a href="#form" class="rates-banner__button" style="color: #fff;">
          Подробнее
        </a>
      </div>
      <ul class="rates-list">
        <li class="rates-list__item">
          <ul class="rates-list__about">
            <li class="rates-list__about-item rate-name">
              Essentials
              </li>
              <span class="new-rate">до 500 пользователей</span>
            <li class="rates-list__about-item rate-description">
              Базовый тариф<br />Для компаний до 500 пользователей<br />Доступно от 20 лицензий
            </li>
            <li class="rates-list__about-item rate-price">
              <div class="rate-price__price">
                750 ₽ / <span class="rate-price__year">год</span>

              </div>
              <span>Цена указана за одну учетную запись организатора</span>
            </li>
            <li class="rates-list__about-item rate-description">Размещение: облако</li>
          </ul>
          <ul class="rates-list__options">
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Видеоконференцсвязь
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Запись конференций
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />2 Гб хранилища на
              пользователя
            </li>
          </ul>
          <h4 class="rates-list__pro-options__title">Продвинутые опции</h4>
          <ul class="rates-list__pro-options__list">
            <li class="rates-list__pro-options__item rates-link">
              <a href="" class="js-open-modal" data-target="modal-form-marketing">Для
                подключения свяжитесь с нами</a>
            </li>
            <li class="rates-list__pro-options__item">Чаты, файлы</li>
            <li class="rates-list__pro-options__item">Видеохостинг</li>
            <li class="rates-list__pro-options__item">
              Переговорные комнаты
            </li>
            <li class="rates-list__pro-options__item">SIP</li>
            <li class="rates-list__pro-options__item">
              Звонки на телефоны
            </li>
          </ul>
        </li>
        <li class="rates-list__item">
          <ul class="rates-list__about">
            <li class="rates-list__about-item rate-name">
              Business
            </li>
              <span class="new-rate">до 500 пользователей</span>
            <li class="rates-list__about-item rate-description">
              Бизнес-тариф<br />Для компаний до 500 пользователей<br />Доступно от 10 лицензий
            </li>
            <li class="rates-list__about-item rate-price">
              <div class="rate-price__price">

                1500 ₽ / <span class="rate-price__year">год</span>
              </div>
              <span>Цена указана за одну учетную запись организатора</span>
            </li>

            <li class="rates-list__about-item rate-description">
              Размещение: облако
            </li>
          </ul>
          <ul class="rates-list__options">
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Видеоконференцсвязь
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Запись конференций
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />2 Гб хранилища на
              пользователя
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Чаты, файлы
            </li>
          </ul>
          <h4 class="rates-list__pro-options__title">Продвинутые опции</h4>
          <ul class="rates-list__pro-options__list">
            <li class="rates-list__pro-options__item rates-link">
              <a href="" class="js-open-modal" data-target="modal-form-marketing">Для
                подключения свяжитесь с нами</a>
            </li>
            <li class="rates-list__pro-options__item">Видеохостинг</li>
            <li class="rates-list__pro-options__item">
              Переговорные комнаты
            </li>
            <li class="rates-list__pro-options__item">SIP</li>
            <li class="rates-list__pro-options__item">
              Звонки на телефоны
            </li>
          </ul>
        </li>
        <li class="rates-list__item">
          <ul class="rates-list__about">
            <li class="rates-list__about-item rate-name">Edu</li>
            <li class="rates-list__about-item rate-description">
              Тариф для образовательных <br />учреждений<br />Доступно от 25 лицензий
            </li>
            <li class="rates-list__about-item rate-price">
              <div class="rate-price__price">
                600 ₽ / <span class="rate-price__year">год</span>
              </div>
                <span>Цена указана за одну учетную запись организатора</span>  
            </li>

            <li class="rates-list__about-item rate-description">
              Размещение: облако
            </li>
          </ul>
          <ul class="rates-list__options">
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Видеоконференцсвязь
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Запись конференций
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />2 Гб хранилища на пользователя
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Чаты, файлы
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Видео-хостинг
            </li>
          </ul>
          <h4 class="rates-list__pro-options__title">Продвинутые опции</h4>
          <ul class="rates-list__pro-options__list">
            <li class="rates-list__pro-options__item rates-link">
              <a href="" class="js-open-modal" data-target="modal-form-marketing">Для
                подключения свяжитесь с нами</a>
            </li>
            <li class="rates-list__pro-options__item">
              Переговорные комнаты
            </li>
            <li class="rates-list__pro-options__item">SIP</li>
            <li class="rates-list__pro-options__item">
              Звонки на телефоны
            </li>
          </ul>
        </li>
        <li class="rates-list__item">
          <ul class="rates-list__about">
            <li class="rates-list__about-item rate-name">
              Конференция
            </li>
              <span class="new-rate">Новый тариф</span>
            <li class="rates-list__about-item rate-description">
              Тариф на 1 комнату,<br /> до 100 участников во встрече<br class="br-desk br-tab" /><br />
            </li>
            <li class="rates-list__about-item rate-price">
              <div class="rate-price__price">
                15 000 ₽ / <span class="rate-price__year">год</span>
              </div>
              <span>Цена указана за одну учетную запись организатора</span>
            </li>

            <li class="rates-list__about-item rate-description">
              Размещение: облако
            </li>
          </ul>
          <ul class="rates-list__options">
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Видеоконференцсвязь
            </li>
            <li class="rates-list__options__item">
              <img src="assets/svg/check-circle.svg" />Запись конференций
            </li>
          </ul>
          <h4 class="rates-list__pro-options__title">Продвинутые опции</h4>
          <ul class="rates-list__pro-options__list">
            <li class="rates-list__pro-options__item rates-link">
              <a href="" class="js-open-modal" data-target="modal-form-marketing">Для
                подключения свяжитесь с нами</a>
            </li>
            <li class="rates-list__pro-options__item">
              Переговорные комнаты
            </li>
            <li class="rates-list__pro-options__item">SIP</li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</section>