<div class="block-test">
  <div class="container">
    <div class="block-test__wrap">
      <div class="block-test__label">Протестируй DION сейчас</div>
      <a href="#form" class="block-test__btn">Попробовать</a>
    </div>
  </div>
</div>