<div class="web-banner">
  <a href="https://pro.t1.ru/event/hCuUUWmi?utm_source=marketing&utm_medium=events&utm_campaign=webweek&utm_content=1006&utm_term=enterprise" class="web-banner__wrap" target="_blank">
    <div class="web-banner__items">
      <div class="web-banner__item">Обзорный вебинар DION</div>
      <div class="web-banner__item">10 июня в 11:00</div>
    </div>
    <p class="web-banner__title">Как упростить <br class="first"/>коммуникации <br class="second"/>в компании?</p>
    <p class="web-banner__text">Ключевые функции и преимущества платформы DION</p>
    <div class="web-banner__img">
      <img src="../../assets/img/flipchart.png" alt="image">
    </div>
  </a>
</div>