<section class="block-advantages" id="advantages">
  <div class="container">
    {{> shared/section-title}}
    <div class="block-advantages__wrap">
      {{#each list}}
      <div class="block-advantages__item">
        <div class="block-advantages__item__label">{{{label}}}</div>
        <div class="block-advantages__item__descr">{{{descr}}}</div>
      </div>
      {{/each}}
    </div>
    <div class="banner banner--advantages">
      <div class="banner__bg">
        {{{getPicture src="banners/bg__2.png" md="banners/bg__2__md.png" s="banners/bg__2__s.png"}}}
      </div>
      <div class="banner__label">Узнать больше о&nbsp;DION</div>
      <div class="banner__btns">
        <a href="/assets/docs/DION_advantages.pdf" class="banner__btn" download=""
          onclick="_tmr.push({ type: 'reachGoal', id: 3655439, goal: 'click_pdf'});"
        >Скачать презентацию</a>
        <a href="#video" class="banner__btn"
          onclick="_tmr.push({ type: 'reachGoal', id: 3655439, goal: 'click_video'});"
        >Посмотреть видео</a>
      </div>
    </div>
  </div>

</section>