<section class="block-video" id="video">
  <div class="container">
    <h2 class="block-video__title">{{title}}</h2>
    <div class="block-video__descr">{{descr}}</div>
    <div class="block-video__wrap">
      <video src="{{src}}" controls poster="/assets/img/video-preview.PNG">
            <source src="{{src}}" type="video/mp4">
      </video>
    </div>
  </div>
</section>