.top-banner {
  @include position(absolute, $top: 0);
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(91.86deg, #1D1245 0%, #351DA1 64.88%, #0D1936 102.36%);
}

.top-banner__wrap {  
  display: inline-block;
  width: calc(100% - 40px);
  margin-right: 40px;
}

.top-banner__container {
  width: fit-content;
  padding: 9px 0px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
}

.top-banner__label {  
  background: #00FFB3;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: 'VTBGroupUI', Arial, sans-serif;
  line-height: 18px;
  padding: 2px 4px;
  border-radius: 4px;
}

.top-banner__text {
  color: #EBEDF0;
  font-size: 16px;
  font-weight: 500;
  font-family: 'VTBGroupUI', Arial, sans-serif;
  line-height: 22px;
}

.top-banner__close-button {
  filter: invert(1);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

@media (max-width: 1188px) {
  .top-banner {
    display: none;
  }
}
