.web-banner {
  width: 100%;
  max-width: 1708px;
  padding: 60px 66px 32px;
  margin: 0 auto;
}

.web-banner__wrap {
  max-width: 1576px;
  background: url("../assets/img/web-banner-bg.png");
  background-position: center;  
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;  
  border-radius: 16px;

  padding: 40px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.web-banner__items {
  display: flex;
  gap: 16px;
  margin-bottom: 28px;
}

.web-banner__item {
  background: #00FFB3;
  color: #000;
  font-family: 'VTBGroupUI', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 7px 12px;
  border-radius: 8px;
}

.web-banner__item:last-child {
  background: #ffffff;
}

.web-banner__title {
  font-family: 'RFDewiExtended', Arial, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.web-banner__text {
  font-family: 'RFDewiExtended', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  font-variant-numeric: lining-nums tabular-nums;
}

.web-banner__text br {
  display: none;
}

.web-banner__img {
  position: absolute;
  top: -110px;
  right: -80px;
  width: 359px;
  height: 359px;
  border-radius: 50%;
  overflow: hidden;
}

.web-banner__img img {
  position: absolute;
  right: 50px;
  bottom: -15px;
  width: 380px;
}

@media (max-width: 1439px) {
  .web-banner__wrap {
    background-image: url("../assets/img/web-banner-bg_mid.png");
  }  
  .web-banner__title {
    font-size: 36px;
    letter-spacing: -0.035em;
  }
  .web-banner__text br {
    display: block;
  }
  .web-banner__text {  
    letter-spacing: -0.02em;
  }
}

@media (max-width: 1023px) {
  .web-banner__wrap {
    background-image: url("../assets/img/web-banner-bg_small.png");
    padding: 35px 19px 250px;
  }
  .web-banner__title {
    font-size: 32px;
  }
  .web-banner__img {
    top: auto;
    right: auto;
    bottom: -135px;
    width: 353px;
    height: 353px;
  }
  .web-banner__img img {
    right: -20px;
    bottom: auto;
    width: 463px;
  }
}

@media (max-width: 767px) {
  .web-banner__text br {
    display: none;
  }
}

@media (max-width: 576px) {
  .web-banner {
    padding: 40px 20px 16px;
  }
}