.web-banner {
  width: 100%;
  max-width: 1708px;
  padding: 60px 66px 32px;
  margin: 0 auto;
}

.web-banner__wrap {
  background: url("../assets/img/web-banner-bg.png");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 16px;  
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.web-banner__items {
  display: flex;
  gap: 16px;
  margin-bottom: 54px;
}

.web-banner__item {
  background: #0062FF;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: 'VTBGroupUI', Arial, sans-serif;
  line-height: 18px;
  padding: 7px 10px;
  border-radius: 4px;
}

.web-banner__item:last-child {
  font-weight: 600;
  background: #ffffff;
  max-width: 240px;
  color: #000;
}

.web-banner__title {  
  font-weight: 800;
  font-size: 48px;
  padding-bottom: 18px;
  color: #FFFFFF;  
}

.web-banner__title > br,
.web-banner__text > br {
  display: none;
}

.web-banner__text {
  font-weight: 400;
  font-size: 16px;
  font-family: 'VTBGroupUI', Arial, sans-serif;
  line-height: 22px;
  vertical-align: bottom;
  color: #FFFFFF;
  font-variant-numeric: lining-nums tabular-nums;
  padding-bottom: 14px;
}

.web-banner__img {
  position: absolute;
  top: -13px;
  right: 0px;
  width: 355px;
}

.web-banner__img img {
  width: 100%;
}

@media (max-width: 1440px) {
  .web-banner__wrap {
    background-image: url("../assets/img/web-banner-bg_mid.png");
  }
  .web-banner__title {
    font-size: 40px;
    line-height: 0.99;
  }
  .web-banner__title > br {
    display: block;
  }
  .web-banner__items {
    margin-bottom: 32px;
  }
  .web-banner__text {
    padding-bottom: 0px;
  }
  .web-banner__img {
    top: -5px;
    right: 0;
    width: 330px;
  }
}

@media (max-width: 768px) {
  .web-banner__wrap {
    background-image: url("../assets/img/web-banner-bg_small.png");
    padding-bottom: 0px;
  }
  .web-banner__items {
    flex-direction: column;
    gap: 16px;
  }
  .web-banner__item:first-child {  
    align-self: flex-start;
  }
  .web-banner__title {
    font-size: 32px;
  }
  .web-banner__text br {
    padding-bottom: 0;
  }
  .web-banner__text br {
    display: block;
  }
  .web-banner__img {
    position: relative;
    top: 20px;
    right: 35px;
  }
}

@media (max-width: 576px) {
.web-banner {  
  padding: 40px 20px 16px;
}
}
