<footer class="footer">


<div class="container">
  <div class="footer__wrap">
    <div class="footer__wrap__top">
      <a href="/" class="footer__logo-wrap">
        {{{getSvg src="logo"}}}
      </a>
      <nav class="footer__navigation">
        <a href="#possibilities" class="footer__navigation__item">Возможности</a>
        <a href="#awards" class="footer__navigation__item">Награды и клиенты</a>
        <a href="#accommodation" class="footer__navigation__item">Размещение</a>
        <a href="#advantages" class="footer__navigation__item">Преимущества</a>
        <a href="#rates" class="footer__navigation__item">Стоимость</a>
        <a href="#contacts" class="footer__navigation__item">Контакты</a>
      </nav>

      <div class="footer__buttons mob">
        <a href="/" class="footer__button">Перейти на основной сайт</a>
        <a href="" data-target="modal-form-feedback" class="footer__button js-open-modal">Поддержка</a>
      </div>
      
    </div>
    <div class="footer__wrap__mid" id="contacts">
      <div class="footer__col">
        <span class="footer__wrap__contacts__text">Есть вопросы по DION?</span>
        <a href="tel:88006008357" class="footer__wrap__contacts__text">8-800-600-83-57</a>
      </div>
      <div class="footer__col">
        <span class="footer__wrap__contacts__text">Пресненская набережная, д. 12, этаж 57, офис 9</span>

      </div>
      
      <div class="footer__buttons desk">
        <a href="/" class="footer__button">Перейти на основной сайт</a>
        <a href="" data-target="modal-form-feedback" class="footer__button js-open-modal">Поддержка</a>
      </div>
      </div>

      
     

    <div class="footer__wrap__bot"> 
      <div class="footer__wrap__copy">© 2025</div>
      <div class="footer__wrap__policys">
        <a href="/pdfs/DION-payment-information.pdf" target="_blank" class="footer__wrap__policy">Информация<br class="br-desk">
        об оплате</a>
        <a href="/pdfs/dion-privacy-policy.pdf" target="_blank" class="footer__wrap__policy">Политика обработки<br class="br-desk">
        персональных данных</a>
        <a href="/pdfs/license_agreement_DION.pdf" target="_blank" class="footer__wrap__policy">Пользовательское<br class="br-desk">
        соглашение</a>
        <a href="/pdfs/Privacy_Policy_Service_DION.pdf" target="_blank" class="footer__wrap__policy">Политика конфиденциальности<br class="br-desk">
        сервиса DION</a>
        <a href="pdfs/dion-agreement-pd-processing.pdf" target="_blank" class="footer__wrap__policy">Соглашение на обработку<br class="br-desk">
        персональных данных</a>
      </div>
    </div>
  </div>
</div>
</footer>